body {
  background-image: linear-gradient(
    to top,
    rgb(109, 110, 109),
    rgb(222, 224, 222),
    rgb(117, 119, 118)
  );
  background-size: cover;
  min-height: 100vh;
  overflow: hidden;
  padding-bottom: var(--main-padding-bottom);
  padding-top: var(--main-padding-top);
}

/* nav bar css */
#navbar {
  padding-left: var(--navbar-padding-left);
  height: 3rem;
}
#navcontent {
  display: flex;
  flex-direction: row;
  height: 100%;
  justify-content: start;
  align-items: center;
  gap: 2rem;
}
.nav-btn {
  font-size: var(--nav-font-size);
  background: none;
  border: none;
  transition-duration: 300ms;
  color: var(--text-inactive-color);
}
.nav-btn.active {
  color: var(--text-active-color);
}
.nav-btn:hover {
  color: var(--text-hover-color);
}

/* sections css */

#contentcarousel {
  display: flex;
  padding-left: calc(var(--content-padding-x) * 3);
  transition-duration: 400ms;
}
.content-section {
  display: flex;
  justify-content: center;
  min-height: 10rem;
  padding-top: calc(var(--main-padding-top) * 0.5);
  gap: var(--grid-gap);
  padding-left: var(--content-padding-x);
  padding-right: var(--content-padding-x);
  opacity: 0.5;
  transition-duration: 200ms;
}
.content-section.active {
  opacity: 1;
}
.grid-col {
  display: flex;
  flex-direction: column;
  gap: var(--grid-gap);
}
.grid-row {
  display: flex;
  flex-direction: row;
  gap: var(--grid-gap);
  max-width: var(--grid-box-width);
  flex-wrap: wrap;
}
.grid-row.double {
  max-width: calc(2 * var(--grid-box-width) + 1 * var(--grid-gap));
}
.grid-box {
  width: var(--grid-box-width);
  height: var(--grid-box-height);
  border: none;
  color: var(--text-active-color);
}
.grid-box.double {
  width: calc(2 * var(--grid-box-width) + 1 * var(--grid-gap));
  height: calc(2 * var(--grid-box-height) + 1 * var(--grid-gap));
}

.grid-btn {
  background-image: linear-gradient(
    to top,
    var(--primary-color-dark),
    var(--primary-color)
  );
  background-size: cover;
  border: none;
  width: 100%;
  height: 100%;
  color: var(--text-active-color);
  transition-duration: 300ms;
}
.grid-btn:hover {
  background-image: linear-gradient(
    to top,
    var(--primary-color-darker),
    var(--primary-color)
  );
  transform: scale(1.03);
  box-shadow: 2px 2px 20px #000000;
  border: none;
}
.grid-btn:active {
  transform: scale(1.02);
}

/* search section */
#search {
  display: flex;
  justify-content: center;
  align-items: center;
}
#searchbar {
  width: 40rem;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  padding-left: 2rem;
  padding-right: 1rem;
  border-radius: 10px;
  border: solid gray 1px;
  transition-duration: 200ms;
  font-size: 1.3rem;
}
#searchbar:focus {
  outline: none;
  box-shadow: 1px 5px 100px #4e4e4e;
}

/* home section */
#home {
  display: flex;
  gap: var(--grid-gap);
}

/* social section */
#social {
  align-items: center;
}
#profileselector {
  width: calc(var(--grid-box-width) * 4);
  height: calc(var(--grid-box-height) * 3.2 + var(--grid-gap) * 2);
  background-color: rgba(0, 0, 0, 0.5);
}

/* action bar */
#actionbar {
  background-color: blue;
}
